.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;

  &-content {
    width: 31.25rem;
    background-color: #fff;

    //animation
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;
  }

  &-header {
    padding: 1rem;
  }

  &-title {
    margin: 0;
  }

  &-body {
    padding: 1rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  &-footer {
    padding: 1rem;
  }

  &-button {
  }
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal.show .modal-content {
  transform: translateY(0);
}
