.Input-control {
  background-color: rgba(#f3f3f3, 0.9);
  outline: none;
  appearance: none;
  border: none;
  padding: 0.7rem;
  border-radius: 8px;
  color: rgb(51, 51, 51);
  box-sizing: border-box;
  transition: all ease-out 0.2s;
  font-family: inherit;
  display: block;
  width: 100%;

  &::-webkit-input-placeholder {
    font-weight: 300;
    color: rgb(173, 169, 169);
  }
  &::placeholder {
    font-weight: 300;
    color: rgb(173, 169, 169);
  }

  &__with-focus {
    &:focus {
      border: 1px solid var(--color-primary);
      transform: scale(1.08);
    }
  }
}

.message {
  display: grid;

  &__error {
    color: red;
  }
}
