:root {
  --color-primary: #1e917b;

  --color-white: #fff;
  --color-grey-dark-1: #4c4d50;
  --color-blue-light: #185adb;

  --font-display: "Inter";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 62.5%;
}

.mb-tiny {
  margin-bottom: 0.3rem;
}

.mb-small {
  margin-bottom: 1rem;
}
.mb-medium {
  margin-bottom: 2rem;
}
.mb-large {
  margin-bottom: 3rem;
}
.mb-huge {
  margin-top: 3.5rem;
}

.mt-tiny {
  margin-top: 0.3rem;
}

.mt-small {
  margin-top: 1rem;
}
.mt-medium {
  margin-top: 2rem;
}
.mt-large {
  margin-top: 3rem;
}
.mt-huge {
  margin-top: 3.5rem;
}
.bg-white {
  background-color: #fff;
}
